---
import AboutLayout from "../layouts/AboutLayout.astro"

const identify = {
  firstName: "Lauro",
  country: "Brasil",
  occupation: "Professor de inglês",
  hobbies: ["musica", "artesanato", "passeios"],
};

const skills = [
  "Inglês",
  "Informática",
  "Matemática",
  "Geometria",
  "Redes de Computadores",
  "Composição musical",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<AboutLayout>
  <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }

    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <main>
    <h1>Sobre Mim</h1>
    
    <p>Aqui estão alguns fatos sobre mim:</p>
    <ul>
      <li>Meu nome é {identify.firstName}</li>
      <li>Moro no {identify.country} e trabalho como {identify.occupation}.</li>
      <li>
        Meus hobbies incluem:
        <ul>
          {identify.hobbies.map((hobby) => <li>{hobby}</li>)}
        </ul>
      </li>
    </ul>

    <p>Minhas habilidades são:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>Estou feliz em estar aprendendo Astro!</p>}
    {finished && <p>Terminei este tutorial!</p>}
    {goal === 3 ? <p>Minha meta é terminar em 3 dias.</p> : <p>Minha meta não é em 3 dias.</p>}
  </main>
</AboutLayout>