---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} /> 
    <title>{frontmatter.title}</title>
  </head>
  <BaseLayout pageTitle={frontmatter.title}>  
  <body>
      <article>
      <h1>{frontmatter.title}</h1>
      <p>Escrito por {frontmatter.author}</p>
      <slot />
    </article>
  </body>
</BaseLayout>
</html>
